<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycorisfun.fun.Mapper.NewsMapper">

    <select id="findAll" resultType="News">
        select * from news
    </select>

    <select id="findById" parameterType="Integer" resultType="News">
        select * from news where news_id=#{news_id}
    </select>


    <insert id="add" parameterType="News">
        insert into news(news_id,title,imgUrl,news_link)
        values (#{news_id},#{title},#{imgUrl},#{news_link})
    </insert>

    <select id="findByTitle" parameterType="String" resultType="News">
        SELECT *
        FROM news
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="findBytime" parameterType="String" resultType="News">
        SELECT *
        FROM news
        WHERE created_at LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="findAllNews" resultType="News">
        SELECT *
        FROM news
        WHERE imgUrl is not null
    </select>

    <select id="findLatestNews" parameterType="Integer" resultType="News">
        select *
        from news
        where imgUrl is not null ORDER BY time DESC          -- 按日期最新在前
        LIMIT #{findnum};                   -- 只取  条
    </select>

    <select id="findAnnouncement" resultType="News">
        select * from news where imgUrl is null
    </select>

    <update id="delbyid" parameterType="Integer">
        UPDATE news
        SET    status = 2
        WHERE  postd = #{news_id};
    </update>

    <update id="updatePostInfo" parameterType="Post">
        UPDATE posts
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="post_userid != null">post_userid = #{post_userid},</if>
            <if test="content != null">content = #{content},</if>
            <if test="created_at != null">created_at = #{created_at},</if>
            <if test="like_count != null">like_count = #{like_count},</if>
            <if test="link != null">link = #{link},</if>
            <if test="imgurl != null">imgurl = #{imgurl},</if>
            <if test="parent_id != null">parent_id = #{parent_id},</if>
            <if test="root_id != null">root_id = #{root_id},</if>
            <if test="reply_count != null">reply_count = #{reply_count},</if>
            <!-- 其他字段同理 -->
        </set>
        WHERE postid = #{postid}
    </update>

</mapper>