<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycorisfun.fun.Mapper.PostMapper">

    <select id="findAll" resultType="Post">
        select * from Post
    </select>

    <select id="findById" parameterType="Integer">
        select from Post where id=#{id}
    </select>

    <insert id="insert" parameterType="Post">
        insert into Post(id,title,user,main,time,like)
        values (#{id},#{title},#{user},#{main},#{time},#{like})
    </insert>

</mapper>