<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycorisfun.fun.Mapper.PostMapper">

    <select id="findAll" resultType="Post">
        select * from posts
    </select>

    <select id="findlist" parameterType="Integer" resultType="Post">
        select * from posts where status=1 and title is not null ORDER BY created_at DESC
        LIMIT #{findnum};
    </select>

    <select id="findById" parameterType="Integer" resultType="Post">
        select * from posts where postid=#{postid}
    </select>

    <select id="findByUserid" parameterType="Integer" resultType="Post">
        select * from posts where post_userid=#{post_userid}
    </select>

    <select id="findByParentid" parameterType="Integer" resultType="Post">
        select *
        from posts
        where parent_id=#{parent_id};
    </select>

    <insert id="add" parameterType="Post">
        insert into posts(postid,title,post_userid,content,created_at,like_count,link,imgurl,parent_id,root_id,status,reply_count,post_username)
        values (#{postid},#{title},#{post_userid},#{content},#{created_at},#{like_count},#{link},#{imgurl},#{parent_id},#{root_id},#{status},#{reply_count},#{post_username})
    </insert>

    <select id="findByTitle" parameterType="String" resultType="Post">
        SELECT *
        FROM posts
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <select id="findBytime" parameterType="String" resultType="Post">
        SELECT *
        FROM posts
        WHERE created_at LIKE CONCAT('%', #{title}, '%')
    </select>

    <update id="delbyid" parameterType="Integer">
        UPDATE posts
        SET    status = 0
        WHERE  postid = #{postid};
    </update>

    <update id="updatePostInfo" parameterType="Post">
        UPDATE posts
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="post_userid != null">post_userid = #{post_userid},</if>
            <if test="content != null">content = #{content},</if>
            <if test="created_at != null">created_at = #{created_at},</if>
            <if test="like_count != null">like_count = #{like_count},</if>
            <if test="link != null">link = #{link},</if>
            <if test="imgurl != null">imgurl = #{imgurl},</if>
            <if test="parent_id != null">parent_id = #{parent_id},</if>
            <if test="root_id != null">root_id = #{root_id},</if>
            <if test="reply_count != null">reply_count = #{reply_count},</if>
            <!-- 其他字段同理 -->
        </set>
        WHERE postid = #{postid}
    </update>

</mapper>