<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lycorisfun.fun.Mapper.UserMapper">

    <select id="findAll" resultType="User">
        select * from users
    </select>

    <select id="findById" parameterType="Integer">
        select * from users where userId = #{userId}
    </select>

    <insert id="insert" parameterType="User">
        insert into users(userName,email,password)
        values (#{userName},#{email},#{password})
    </insert>

    <select id="findByUsername" parameterType="String" resultType="User">
        SELECT *
        FROM users
        WHERE userName LIKE CONCAT('%', #{userName}, '%')
    </select>

    <update id="deletebyid" parameterType="Integer">
        UPDATE users
        SET    status = 2
        WHERE  userId = #{userId};
    </update>

    <select id="findByEmail" parameterType="String" resultType="User">
        select *
        from users
        where email=#{email}
    </select>

    <update id="updateUserInfo" parameterType="User">
        UPDATE users
        <set>
            <if test="userName != null">userName = #{userName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="signature != null">signature = #{signature},</if>
            <if test="avaterURL != null">avaterURL = #{avaterURL},</if>
            <if test="email != null">email = #{email},</if>
            <if test="password != null">password = #{password},</if>
            <if test="PersonalIndexLink != null">PersonalIndexLink = #{PersonalIndexLink},</if>
            <if test="status != null">status = #{status},</if>

            <!-- 其他字段同理 -->
        </set>
        WHERE userId = #{userId}
    </update>

    <!-- 个人中心：显式列出非敏感列，password 不查询 -->
    <select id="findProfileById" parameterType="Integer" resultType="User">
        select userId, userName, email, gender, registerTime, signature, avaterURL, PersonalIndexLink, status
        from users
        where userId = #{userId}
    </select>

</mapper>